<footer>
    <div class="f-info">
        <div class="contact">
            <p>Reach out to me at - </p>
            <div class="f-info-socials">
                <a href="https://github.com/ayushx7r/wanderlust" target="_blank"><i class="fa-brands fa-github"></i></i></a>
                <a href="https://leetcode.com/u/ayushx7r/" target="_blank"><i class="fa-solid fa-code"></i></a>   
                <a href="https://www.linkedin.com/in/ayushx7r/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>  
            </div>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
    </div>
</footer>