<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h1>Create an account</h1>
        <form method="POST" action="/signup" novalidate class="needs-validation">
            <div class="input-grou mb-3">
                <label for="username" class="form-label"> Enter username : </label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input id="username" placeholder="Enter username" autocomplete="off" name="username" class="form-control" required>
                    <div class="valid-feedback">Looks good</div>
                    <div class="invalid-feedback">Enter a valid username</div>
                </div>
                
            </div>

            <div class="mb-3">
                <label for="email" class="form-label"> Email: </label>
                <input id="email" type="email" placeholder="Enter your email" autocomplete="off" name="email" class="form-control" required>
                <div class="valid-feedback">Looks good</div>
                <div class="invalid-feedback">Enter a valid email</div>
            </div>

            <div class="mb-3">
                <label for="username" class="form-label"> Create password : </label>
                <input id="username" type="password" minLength="8" maxlength="24" placeholder="Create password" autocomplete="off" name="password" class="form-control" required>
                <div class="valid-feedback">Looks good</div>
                <div class="invalid-feedback">Enter a valid password (8 to 24 characters)</div>
            </div>
            <button class="btn btn-dark mb-3">Continue</button>
        </form>
        <p>Already have an account? &nbsp; <a href="/login" style="text-decoration: none;">Log in</a></p>
    </div>
</div>

